.categoria-container {
  display: flex;
  flex-direction: row;   /* Alinea en fila horizontal */
  flex-wrap: wrap;       /* Permite que bajen si no caben */
  justify-content: center; 
  gap: 20px;             /* Espacio entre las cards */
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  background-color: #ffffff;
}

.categoria-card {
  background-color: rgb(4, 234, 234);
  width: 250px;
  height: 355px;
  border-radius: 8px;
  transition: all 0.3s ease;
}

.categoria-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 12px rgba(0,0,0,0.25);
}

.categoria-card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  margin-top: 10px;
}

.categoria-titulo {
  font-family: 'Segoe UI', sans-serif;
  font-size: 16px;
  font-weight: bold;
  margin: 8px 0;
  color: #333;
  text-align: center;
}

.categoria-descripcion {
  font-size: 14px;
  color: #000000;
  margin: 5px 10px;
  line-height: 1.4;
}
