.encabezadoDiv{
    background-color:bisque;
    margin-left: 50px;
    width: 1800px;
    justify-content: center;
    margin-bottom: 5px;
}
.logodiv{
    display: inline-block;
    margin-left: 20px;
}
.logodiv img{
    width: 150px;
    height: auto;
}
.menudiv{
    display: inline-block;
    margin-left: 200px;
    vertical-align: top;
}
.menudiv ul{
    list-style-type: none;
    padding: 0%;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    
}
.menudiv ul li{
    display: inline;
    margin-right: 20px;
    color: rgb(0, 0, 0);
    cursor: pointer;
    font-size: 40px;
    text-decoration: none;
}
.menudiv ul li:hover{
    color: blueviolet;
    background-color: chartreuse;
}
.redesdiv{
 display: inline-block;
 float: right;
 margin-right: 20px;
}
.redesdiv ul{
    list-style-type:none ;
    padding: 5px;
}
.redesdiv ul li{
    display: inline;
    height: 20px;
    width: 20px;
    border-radius: 40px;
    padding: 10px;
}