.zona{
    background-color: aqua;
    width: 97%;
    margin-left: 49px;
    align-items: center;
    margin-bottom: 250px;
}
.expre{
    align-items: center;
}
.table{
    background-color: rgb(255, 255, 255);
    margin-left: 40px;
}
.name{
    background-color: rgb(255, 255, 255);
    margin-left: 40px;
}