.tacs{
    width: 1800;
    background-color: rgb(255, 255, 255);
    margin-left: 50px;
    height: 300px;
}
.doc{
    display: inline-block;
    background-color: rgb(216, 216, 216);
    width: 275px;
    height: 290px;
    margin-left: 80px;
    margin-top: 10px;
    margin-bottom: 60px;
    text-align: center;
}
.dic{
    display: inline-block;
    background-color: rgb(212, 212, 212);
    width: 300px;
    margin-left: 290px;
    height: 290px;
    margin-top: 0px;
    text-align: center;
}

.dooc{
    display: inline-block;
    background-color: rgb(199, 199, 199);
    width: 245px;
    margin-left: 290px;
    height: 320px;
    margin-top: 20px;
    text-align: center;
    align-items: center;
}
