.tsacs{
    width: 1800px;
    background-color: rgb(139, 139, 139);
    margin-left: 50px;
    height: 100px;
    margin-bottom: 200px;
}
.deoc{
    display: inline-block;
    width: 955px;
    height: 50px;
    margin-left: 50px;
    margin-top: auto;
    vertical-align: top;
}
.deoc h2{
    margin-top: 60px;
    font-size:120%;
    font-family: 'Courier New', Courier, monospace;
}
.ddic{
    display: inline-block;
    width: 950px;
    margin-left: 1250px;
    height: 0px;
    vertical-align: top;
}
.ddic h2{
    font-size: 120%;
    font-family:'Courier New', Courier, monospace;
    margin-right: 20%;
    
}
.dera{
    margin-right: 60%;
}